INCLUDE("app_common.cfg");

#include "app.h"

DOMAIN(TDOM_APP) {
CRE_TSK( MAIN_TASK, { TA_ACT,  0, main_task, TMIN_APP_TPRI + 1, STACK_SIZE, NULL } );
// CRE_TSK( BT_TASK  , { TA_NULL, 0, bt_task  , TMIN_APP_TPRI + 2, STACK_SIZE, NULL } );
// CRE_TSK( WALKER_TASK, { TA_NULL,  0, walker_task, WALKER_PRIORITY, STACK_SIZE, NULL });
//
// EV3_CRE_CYC( WALKER_CYC, { TA_NULL, 0, walker_cyc, 2000, 1});
}

ATT_MOD("app.o");
ATT_MOD("util.o");
ATT_MOD("pid.o");
ATT_MOD("Emoter.o");
ATT_MOD("Lifter.o");
ATT_MOD("Flagman.o");
ATT_MOD("PidWalker.o");
ATT_MOD("Walker.o");
ATT_MOD("self_localization.o");

